html,body
{
	height:100%;
}

body{
	overflow:hidden;
	margin:0;
}

#parent{
	margin-top:0;
	height:100%;
	background-color:red;

}
#drawer{
	
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:pink;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top:0;
}
  
#banner{
	height:18%;
	width:100%;
	background-color:black;
}

#content{
	
	height:80%;
	width:100%;
	background-color:yellow;
}

#footer{
	height:2%;
	width:100%;
	background-color:blue;
	
}

#left_content{
	    float:left;
	   position:relative;
	   height:100%;
	   width:20%;
	   background-color:red;
	
}
#center_content{
       float:left;
	   position:relative;
	   height:100%;
	   width:60%;
	   background-color:cyan;
	
}
#right_content{
       float:left;
	   position:relative;
	   height:100%;
	   width:20%;
	   background-color:green;
	
}

#nav_button
{
	position:relative;
	float:left;
	width:3%;
	height:40%;
	background-color:blue;
	
}
#drawer_button
{
	
	position:relative;
	float:right;
	width:22%;
	height:7%;
	background-color:blue;
	
}

#content_head{
	position:relative;
	width:100%;
	height:10%;
	background-color:brown;
	
}
#content_table{
	position:relative;
	width:100%;
	height:90%;
	background-color:violet;
	
}

#login{
	float:left;
	position:relative;
	width:75%;
	height:100%;
	 transition-duration: 1s;
	background-color:black;
	
}
#signup{
	float:left;
	position:relative;
	width:25%;
	height:100%;
	 transition-duration: 1s;
	background-color:pink;
	
}

#expand_login{
	position:realtive;
	width:100%;
	height:7%;
	
}
#expand_signup{
	position:realtive;
	width:100%;
	height:7%;
	
}

#login_img{
	
	position:relative;
	width:100%;
	height:100%;
}
#signup_img{
	
	position:relative;
	width:100%;
	height:100%;
}